.profile
	margin-top: 20px
	background-color: rgba(255, 255, 255, 0.3)
	transition: filter .5s, transform .5s
	&.isBlurred
		filter: blur(3px)
		transform: scale(.7)

.topBlock
	height: 250px
	padding: 10px
