@import ../../colors

.profile
	margin-top: 20px
	transition: transform .5s, filter .2s linear
	color: black
	&.isBlurred
		filter: blur(10px)
		transform: scale(.7)
		opacity: .7

.sureButton
	display: flex
	flex-direction: row
	width: 100%
	justify-content: space-around
	& > span
		cursor: pointer
		transition: all .2s
		margin-top: 10px
		background-color: $darkDotTwo
		width: 100%
		text-align: center
		font-size: 30px
		&:hover
			background-color: $darkDotSix
			color: white

.blockReport, .blockUpdate
	width: calc(100% - 20px)
	display: flex
	flex-direction: row
	justify-content: space-around
	& > span, & > a
		width: 100%
		color: black
		cursor: pointer
		padding: 10px
		text-align: center
		transition: all .3s
		
		&:hover
			background-color: $darkDotSix
			color: white