@import ../../colors

.addDetailsComponent
	background-color: rgba(255, 255, 255, 0)
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 500px
	padding: 40px
	color: white

.genderSelector, .orientationSelector
	width: 101%
	display: inline-block

.radioInps
	background-color: $darkDotOne
	text-align: center
	width: 100%

.radioInp
	margin: 0
	padding: 10px 0
	background-color: $darkDotTwo
	color: black
	transition: background-color .3s, color .3s
	width: 33%
	float: left
	&:hover
		background-color: $darkDotSix
		color: white

.isChecked
	background-color: red
	color: white

input[type=radio], input[type=checkbox]
	display: none

.geolocButton
	background-color: $darkDotTwo
	font-family: montserrat
	cursor: pointer
	width: 100%
	transition: background-color .3s, color .3s
	color: black
	padding: 10px
	&:hover
		background-color: $darkDotSix
		color: white

@keyframes suggIn
	0%
		opacity: 0

	100%
		opacity: 1
