@import ../../colors

.bioProf
	margin-top: 10px
	margin-bottom: 10px
	width: calc(100% - 20px)
	&:hover > .beforeBio > .editBioButton
		color: rgba(255, 255, 255, 1)
		color: black
		&:hover
			color: white

.beforeBio
	display: flex
	padding: 0
	margin: 0

.bio
	padding: 5px
	transition: all .3s
	&.editHover
		color: white
		background-color: $darkDotSix

.bioLabel
	font-size: 20px

.bioEditComp
	height: 200px

.editBioButton
	font-size: 20px
	margin-top: 2px
	margin-left: 14px
	transition: color .3s
	cursor: pointer
