.img
	list-style: none

.imgSingle
	width: 50px
	height: 50px
	background:
		repeat: no-repeat
		size: cover
		position: center

.listIMG
	float: left

.imageProf
	display: inline-block
	width: inherit
	height: 100%

.editImageButton
	font-size: 60px
	padding: 15px 20px
	background-color: rgba(255, 255, 255, 0)
	color: rgba(255, 255, 255, 0)
	border-radius: 50%
	margin-left: 3px
	transition: color .3s, background-color .3s

.selectedImage
	width: 300px
	height: 100%
	display: flex
	align-items: center
	align-content: center
	justify-content: center
	background:
		repeat: no-repeat
		size: cover
		position: center
	&:hover > .editImageButton
		background-color: rgba(255, 255, 255, .4)
		color: white
		cursor: pointer
		&:hover
			background-color: rgba(255, 255, 255, .6)
			color: black
