.addDetailsComponent
	background-color: rgba(255, 255, 255, 0)
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 500px
	padding: 40px
	color: white

.addDetailsForm

.genderSelector, .orientationSelector
	width: 101%
	display: inline-block

.radioInps
	background-color: rgba(255, 255, 255, .1)
	text-align: center
	width: 100%

.radioInp
	padding: 10px 0
	background-color: rgba(255, 255, 255, .1)
	color: #f0f0f0
	transition: background-color .5s, color .5s
	width: 33%
	float: left

.isChecked
	background-color: red

.radioInp:hover
	background-color: rgba(255, 255, 255, .6)
	color: black

input[type=radio]
	display: none

.textarea
	width: 94%
	height: 80px
	resize: none

.textarea::-webkit-scrollbar
	display: none

.geosuggest__input.isFocused
	background-color: rgba(255, 255, 255, .2)

.geosuggest
	transition: background-color .3s ease-out

.geosuggest__suggests
	cursor: pointer
	list-style: none
	background-color: rgba(255, 255, 255, .2)

.geosuggest-item
	padding: 10px
	animation: suggIn .2s ease-out
	transition: background-color .2s

.geosuggest-item:hover
	background-color: rgba(255, 255, 255, 0.4)

.geosuggest__suggests--hidden
	display: none

@keyframes suggIn
	0%
		opacity: 0

	100%
		opacity: 1
