.date {
	display: flex;
	flex-direction: column;
}

.dateInputs {
	display: flex;
	flex-direction: row;
}

select {
	appearance: none;
	font-size: 13px;
	color: #f0f0f0;
	background-color: rgba(255, 255, 255, .1);
	padding: 10px;
	border-radius: 0px;
}

.dateInp {
	text-align: center;
}

.beforeDate {
	margin-bottom: 0px;
}
