@import ../../colors

.userFast
	list-style: none
	position: relative
	width: 250px
	height: 275px
	color: black
	margin-top: 10px
	transition: all .2s
	&:hover
		color: white

		& .fastBottom
			background-color: $darkDotHeight

	& .fastTop
		position: absolute
		top: 0
		width: 100%
		display: flex
		flex-direction: row
		justify-content: space-between
		& .popDist > span
			margin: 5px


	& .fastBottom
		position: relative
		z-index: 1
		height: calc(150px - 35px)
		background-color: white
		display: flex
		flex-direction: column
		padding-top: 30px
		transition: background-color .2s

		& .names
			position: relative
			width: 100%
			font-size: 16px
			display: flex
			flex-direction: row
			justify-content: center

		& .age
			width: 100%
			margin-top: 10px
			text-align: center

		& .commonTags
			margin: 5px auto

		& .firstname
			width: 50%
			margin: 0 5px
			text-align: right

		& .lastname
			width: 50%
			margin: 0 5px
			text-align: left

		& .popOriGender
			position: absolute
			bottom: 0
			width: calc(100% - 10px)
			display: flex
			flex-direction: row
			justify-content: space-between
			margin: 5px


	& .fastIMG
		position: relative
		width: 150px
		top: 10px
		z-index: 2
		margin:
			bottom: -22px
			left: auto
			right: auto
		height: 150px
		border-radius: 50%
		transition: all .2s
		background:
			size: cover
			repeat: no-repeat
			position: center