@import ../../colors

.userFast
	list-style: none
	position: relative
	background-color: $darkDotTwo
	width: 250px
	color: black
	height: 275px
	margin-top: 10px
	margin-left: 2px
	transition: all .2s

	&:hover
		background-color: $darkDotSix
		color: white

	& .fastTop
		margin-bottom: -30px
		display: flex
		flex-direction: row
		justify-content: space-between
		padding: 10px

	& .fastIMG
		position: relative
		width: 150px
		top: 10px
		z-index: 2
		margin:
			left: auto
			right: auto
		height: 150px
		border-radius: 50%
		transition: all .2s
		background:
			size: cover
			repeat: no-repeat
			position: center

	& .fastBottom
		width: 100%

		& .names
			position: relative
			display: block
			margin-top: 20px
			width: 100%
			font-size: 16px
			display: flex
			flex-direction: row
			justify-content: center

		& .firstname
			width: 50%
			margin: 0 5px
			text-align: right

		& .lastname
			width: 50%
			margin: 0 5px
			text-align: left

		& .age
			width: 100%
			margin-top: 10px
			display: block
			text-align: center
		
		& .bottom
			position: absolute
			bottom: 0%
			width: 100%
			padding: 10px
			display: flex
			flex-direction: row
			justify-content: space-around

@media screen and (max-width: 1080px)
	.userFast
		width: 100%