@import url(https://fonts.googleapis.com/css?family=Montserrat)

*
	outline: none
	border: none
	text-decoration: none
	margin: 0
	padding: 0
	-webkit-font-smoothing: antialiased

html
	width: 100%
	height: 100%
	font-family: Montserrat

.background
	width: 150%
	height: 150%
	margin-left: -50px
	margin-top: -50px
	position: fixed
	background-image: url('back.jpg')
	background-size: cover
	border-radius: 5px
	filter: blur(30px)

.comp
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 500px
	padding: 40px
	color: white

.matcha
	position: relative
	display: block
	width: 80%
	left: 50%
	top: 100px
	transform: translate(-50%, 0)
	color: white

.mainTitle
	font-size: 30px
	text-align: center

.route-enter, .route-appear
	animation: routeIn .5s ease-in-out

.route-leave
	animation: routeOut .5s ease-in-out

.route-appear
	animation: routeUp .5s cubic-bezier(.69,.13,.1,.88)

.otherOptions
	width: 100%
	margin-top: 15px
	display: inline-block
	text-align: center

.otherOption
	display: inline-block
	font-size: 13px
	padding: 10px
	color: #A0A0A0
	transition: color .5s

.otherOption:hover
	color: white

.errorMessageMain
	height: 20px
	text-align: center
	color: #D32F2F

.errorMessage
	float: right
	text-align: center
	transform-origin: right
	color: #B71C1C
	animation: pop .3s ease-in-out

.isVisible
	animation: pop .3s ease-in-out

@keyframes pop
	0%
		opacity: 0
	100%
		opacity: 1

.mainButton
	background-color: #1565C0
	width: 100%
	padding: 15px
	color: white
	transition: box-shadow 0.3s, background-color 0.3s
	margin-top: 30px
	text-align: center
	color: white
	font-size: 16px
	cursor: pointer
	overflow: hidden
	&.isLNK > a
		color: white
	&.isLNK
		width: calc(100% - 30px)

.centered
	margin: 0
	padding: 0

.mainButton:hover
	z-index: 1000
	box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0

.label
	float: left
	width: 200px

.editComp
	padding: 0px

input[value='WAIT']
	background-color: grey

input[value='SUCCESS']
	background-color: green

@keyframes routeIn
	0%
		transform: translateY(-50px)
		opacity: 0

	100%
		transform: translateY(0)
		opacity: 1


@keyframes routeOut
	0%
		opacity: 1

	100%
		opacity: 0


@keyframes routeUp
	0%
		transform: translateY(100px)
		opacity: 0

	30%
		opacity: 0

	100%
		transform: translateY(0)
		opacity: 1


@keyframes suggIn
	0%
		transform: translate3d(0, 20px, 0)
		opacity: 0
	100%
		transform: translate3d(0, 0px, 0)
		opacity: 1

@media screen and (max-width:1080px)
	.comp
		width: calc(100% - 80px)
	.otherOption
		margin: 0
	.editComp
		width: 100%
