#loginForm input {
	font-size: 16px;
}

.errorMessage {
	float: right;
	text-align: center;
	transform-origin: right;
	color: #D32F2F;
	animation: pop .3s ease-in-out;
}

.errorMessageMain {
	height: 20px;
	text-align: center;
	color: #D32F2F;
}

.isVisible {
	animation: pop .3s ease-in-out;
}

@keyframes pop {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}
